
.home_layout {
  
}

.header {
  padding: 1rem 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 10rem 0;

  &__title{ 
    opacity: .75;
  }

  &__block {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &__field, &__title {
    margin: 1rem ;
  }

  &__control, &__select {
    font-size: 1.25rem;
    padding: .75rem;
  }

  &__control {
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  &__select {
    margin-left: .5rem;
    background-color: #fff;
    border:none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

 
}