<section class="home_layout">
  <header class="home_layout__header header">
    <app-nav-bar 
    [UAHCurrency]="UAHCurrency" 
    [USDCurrency]="USDCurrency" 
    [EURCurrency]="EURCurrency" 
    ></app-nav-bar>
  </header>

  <main class="home_layout__body body">
    <section class="body__block">
      <header class="body__header">
        <h2 class="body__title">Convert Currency</h2>
      </header>

      <section class="body__field" >
        <input  class="body__control"
                name="firstCurrencyControl"
                type="number"
                [(ngModel)]="firstCurrencyAmount"
                (change)="changeHandler($event)"
        >
        <select class="body__select"
                name="firstCurrencySelect"
                [(ngModel)]="firstCurrencyCode"
                (change)="changeHandler($event)"
        >
          <option 
            *ngFor="let currency of currencyData" 
            [value]="currency.code" 
          > 
            {{ currency.code }}
          </option>
        </select>
      </section>

    <section class="body__field" >
      <input  class="body__control"
              name="secondCurrencyAmount"
              type="number"
              [(ngModel)]="secondCurrencyAmount"
              (change)="changeHandler($event)"
      >
      <select class="body__select"
              name="secondCurrencyCode"
              [(ngModel)]="secondCurrencyCode"
              (change)="changeHandler($event)"
      >
      <option 
            *ngFor="let currency of currencyData" 
            [value]="currency.code" 
          > 
            {{currency.code}}
          </option>
      </select>
    </section>

    </section>
  </main>
</section>