.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__block {
    display: flex;
  }
  &__currency {
    font-weight: 500;
    margin: 0 .5rem;
  }

  &__separator {
    font-weight: 900;
    margin: 0 .5rem;
  }
}